body,
html{
    font-family: "Open Sans", sans-serif;
}
.btn.blue {
    background-color: #1b9bc2;
    color: #fff;
}
.btn {
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: all .5s;
}